.jade {
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 300px;
    min-height: 200px;
    text-align: left;
}
.jade-top-level {
    display: inline-block;
    /*
      padding: 5px;
      border: 2px solid black;
      background-color: #FFD9A1;
      */
    font: 12px sans-serif;
}
#savelibs {
    margin-right: 10px;
}
.jade-settings-popup {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 3px;
    z-index: 1;
    box-shadow: 5px 5px 5px grey;
    font: 14px sans-serif;
}
.jade-setting {
    color: grey;
    padding: 3px 1px 3px 1px;
    pointer-events: none;
}
.jade-setting-enabled {
    color: black;
    pointer-events: auto;
    cursor: pointer;
}
.jade-setting-enabled:hover {
    background-color: #E0E0FF;
}
.jade-tabs-div {
/* margin-top: 4px; */
}
.jade-tab {
    display: inline;
    position: relative;
    cursor: default;
    background-color: #DDDDDD;
    margin-right: 3px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font: small-caps small sans-serif;
}
.jade-tab-active {
    background-color: #EEEEEE;
    padding-bottom: 4px;
    border-bottom: none;
    z-index: 2;
}
.jade-tab-body {
    display: none;
    position: relative;
    margin-top: 2px;
    background-color: #EEEEEE;
    width: 570px;
    /*min-width: 570px;*/
    height: 261px;
    /*min-height: 261px;*/
    border: 1px solid black;
    padding: 5px;
}
.jade-tab-body-active {
    display: block;
}
.jade-version {
    padding-top: 5px;
    float: right;
}
.jade-resize-icon {
    display: none;
    float: right;
    height: 12px;
    width: 12px;
    position: relative;
    top: 4px;
    cursor: se-resize;
} 
.jade-status {
    height: 14px;
    padding-top: 5px;
}
.jade-schematic-diagram {
    width: 444px;
    height: 229px;
    border: 1px solid black;
    outline: none;
}
.jade-xparts-resize {
    float: right;
    cursor: ew-resize;
    width: 3px;
    margin-right: 3px;
    margin-left: 3px;
    background-color: black;
    height: 231px;
}
.jade-xparts-bin {
    float:right;
    height: 231px;
    width: 115px; /*73px;*/
    /*min-width: 50px;*/
    /*max-width: 73px;*/
    vertical-align: top;
    overflow-y: auto;
    overflow-x: none;
}
.jade-xparts-header {
    background-color: black;
    color: white;
    padding: 3px;
    margin-bottom: 3px;
    cursor: pointer;
}
.jade-xparts-list {
    margin-bottom: 3px;
    /*
    width: 73px;
    min-width: 73px;
    max-width: 73px;
    */
}
.jade-xpart {
    display: inline-block;
    height: 42px;
    width: 42px;
}
.jade-icon-diagram {
    width: 568px;
    min-width: 568px;
    height: 229px;
    min-height: 229px;
    border: 1px solid black;
    outline: none;
}
#module-select {
    margin-left: 5px;
    margin-right: 5px;
}
.jade-toolbar {
    line-height: 25px;
    cursor: default;
    margin-bottom: 5px;
}
.jade-tool {
    padding: 2px;
    border: 1px solid #EEEEEE;
    vertical-align: middle;
    font: small-caps small sans-serif;
    min-width: 16px;
    min-height: 16px;
}
.jade-module-tool {
    padding: 2px;
    border: 1px solid #FFFFFF;
    vertical-align: middle;
    min-width: 16px;
    min-height: 16px;
}
.jade-tool-spacer {
    display: inline;
    padding-left: 1em;
}
.jade-tool-disabled {
    opacity: 0.2;
}
.jade-tool-enabled {
    opacity: 1.0;
    cursor: pointer;
}
.jade-tool-enabled:hover {
    border-color: #000;
}
.jade-tool-enabled:active {
    background-color: #CCCCCC;
}
.jade-tool * {
    pointer-events: none;
}
.jade-dialog-content {
    margin-bottom: 5px;
    padding: 5px;
}
.jade-dialog-button {
    background-color: #FFF;
    display: inline;
    border: 1px solid #AAA;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}
.jade-dialog-button:hover {
    border-color: #000;
}
.jade-dialog-buttons {
    text-align: center;
    padding: 5px;
    margin: 10px;
}
.jade-pmsg {
    margin-left: 5px;
    color: red;
}
.jade-test-editor {
    resize: none;
    outline: none;
    width: 565px;
    height: 281px;
    font: 10pt/1.25 "Lucida Console",monospace;
}
.jade-test-editor:disabled {
    background-color: #E0E0E0;
}
.jade-alert {
    padding: 5px;
    color: #b94a48;
    background-color: #f3dede;
    font: 10pt/1.25 "Lucida Console",monospace;
}
.jade-window {
    /*background-image: -webkit-linear-gradient(top, #F0F0F0 0%, #D0D0D0 100%);
    background-image: -moz-linear-gradient(top, #F0F0F0 0%, #D0D0D0 100%);
    background-image: -ms-linear-gradient(top, #F0F0F0 0%, #D0D0D0 100%);*/
    background-color: #EEEEEE;
    position: absolute;
    vertical-align: bottom;
    box-shadow: 0 10px 10px 1px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 10px 10px 1px rgba(0,0,0,0.25);
    border: 2px solid black;
}
.jade-window-title {
    border-bottom: 1px solid black;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    cursor: default;
}
.jade-window-contents {
}
.jade-window-resize {
    height: 12px;
    width: 12px;
    cursor: se-resize;
    position: absolute;
    right: 2px;
    bottom: 2px;
}
.icon-tool-selected {
    background-color: #CCCCCC;
    border-color: #AAAAAA;
}
.jade-progress {
    text-align: center;
    margin: 5px;
}
.jade-progress-wrapper {
    background-color: #FFF;
    height: 20px;
    width: 200px;
    border: 1px solid;
    margin-bottom: 5px;
}
.jade-progress-bar {
    height: 100%;
    background-color: #dc322f;
}
.plot-container {
  background-color: #EEEEEE;
  line-height: 1;
  overflow-x: hidden;
  overflow-y: auto;
}
.plot-container:active, .plot-container:focus {
  cursor: default;
}
.plot-canvas {
  display: block;
}
.plot-toolbar {
  line-height: 25px;
  cursor: default;
  margin-bottom: 5px;
  white-space: nowrap;
  text-align: center;
}
.plot-tool {
  padding: 2px;
  border: 1px solid #EEEEEE;
  vertical-align: middle;
  font: small-caps small sans-serif;
  opacity: 0.2;
}
.plot-tool-spacer {
  display: inline;
  padding-left: 1em;
}
.plot-tool-enabled {
  opacity: 1.0;
}
.plot-tool-enabled:hover {
  border-color: #000;
}
.plot-tool-enabled:active {
  background-color: #CCCCCC;
}
.plot-scrollbar-wrapper {
  height: 20px;
}
.plot-scrollbar {
  height: 10px;
  border: 1px solid #CCCCCC;
  margin-top: 4px;
  margin-bottom: 4px;
}
.plot-scrollbar-thumb {
  background-color: #888888;
  border-radius: 4px;
  height: 8px;
  margin-top: 1px;
  margin-bottom: 1px;
  display: none;
  cursor: pointer;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}